@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/styles.css">
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="~/js/script.js"></script>
<link rel="stylesheet" href="~/css/styles.css">
<div>
    <img style="display: block; margin: 0px auto; margin-top: 50px;" src="~/images/logo.png" alt="Logo" height=300 width=300>
    <img style="display: block; margin: 0px auto;" src="~/images/goodgaming.png" alt="Good Gaming" height=75 width=550>
    <div style="width: 185px; margin: 0px auto; margin-top: 45px;">
        <a style="padding: 15px 25px;" class="button_links" href="/login">Login</a>
        <a class="button_links" href="/register">Register</a>
    </div>
</div>

